apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-nodejs
  namespace: hello
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-nodejs
  template:
    metadata:
      labels:
        app: hello-nodejs
    spec:
      containers:
        - name: hello-nodejs
          image: manneykapoor/hello-nodejs:3c51e8d
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
